<div class="container">
<div class="groups">
  <div>
    <h4 class="bg-light p-4 my-2 border-top border-bottom d-flex justify-content-end fw-bold">My Groups</h4>
    <h6 class="bg-light p-2 border-top border-bottom">Web Dev group</h6>
    <ul class="list-group list-group-light mb-5">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
          class="rounded-circle" />
        <div class="ms-3">
          <p class="fw-bold mb-1">Bruno Fazz</p>
          <p class="text-muted mb-0">john.doe@gmail.com</p>
        </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
        <div class="ms-3">
          <p class="fw-bold mb-1">Anne Bortoli</p>
          <p class="text-muted mb-0">alex.ray@gmail.com</p>
        </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
        <div class="ms-3">
          <p class="fw-bold mb-1">Kate Hunington</p>
          <p class="text-muted mb-0">kate.hunington@gmail.com</p>
        </div>
      </div>
    </li>
    </ul>
  </div>
  <h6 class="bg-light p-2 border-top border-bottom">Design group</h6>
  <ul class="list-group list-group-light">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img src="https://mdbootstrap.com/img/new/avatars/9.jpg" alt="" style="width: 45px; height: 45px"
        class="rounded-circle" />
      <div class="ms-3">
        <p class="fw-bold mb-1">Ara Gallardo</p>
        <p class="text-muted mb-0">soraya.letto@gmail.com</p>
      </div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img src="https://mdbootstrap.com/img/new/avatars/11.jpg" class="rounded-circle" alt=""
        style="width: 45px; height: 45px" />
      <div class="ms-3">
        <p class="fw-bold mb-1">Zeynep Dudley</p>
        <p class="text-muted mb-0">zeynep.dudley@gmail.com</p>
      </div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img src="https://mdbootstrap.com/img/new/avatars/15.jpg" class="rounded-circle" alt=""
        style="width: 45px; height: 45px" />
      <div class="ms-3">
        <p class="fw-bold mb-1">Ayat Black</p>
        <p class="text-muted mb-0">ayat.black@gmail.com</p>
      </div>
    </div>
  </li>
  </ul>
</div>

<div id="chatbox">
	<div id="friendslist">
    <div id="topmenu">
        <span class="friends"></span>
    </div>

    <div id="friends">
      <div class="friend">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
        <p><strong>Bruno Fazz</strong>
        <span>Available</span>

        <div class="status available"></div>
      </div>

    <div class="friend">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
        <p>
          <strong>Martin Joseph</strong>
          <span>marjoseph@gmail.com</span>
        </p>
        <div class="status away"></div>
    </div>

    <div class="friend">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3_copy.jpg" />
        <p>
          <strong>Tomas Kennedy</strong>
          <span>tomaskennedy@gmail.com</span>
        </p>
        <div class="status inactive"></div>
    </div>

    <div class="friend">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/4_copy.jpg" />
        <p>
          <strong>Enrique	Sutton</strong>
          <span>enriquesutton@gmail.com</span>
        </p>
        <div class="status inactive"></div>
    </div>

    <div class="friend">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/5_copy.jpg" />
        <p>
        <strong>	Darnell	Strickland</strong>
          <span>darnellstrickland@gmail.com</span>
        </p>
        <div class="status inactive"></div>
    </div>
    <div id="search">
        <input type="text" id="searchfield" value="Search contacts..." />
    </div>

  </div>

<%# <h3>All Users</h3>
<p>here we can see all of our app users</p> %>

<%# <% @users.each do |user| %>
  <%# <p>Name: <%= user.first_name <%= user.last_name</p> %>
<%# <% end  %>
