<h1>All Users</h1>
<p>here we can see all of our app users</p>

<% @users.each do |user| %>
  <p>Name: <%= user.first_name %> <%= user.last_name %></p>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV[MAPBOX_API_KEY] %>"></div>
