  <div class="card">
    <div class="photo"></div>
    <div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1522339419089-3e2604cc8a9d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1714&q=80);"></div>
      <div class="personal justify-center">
          <ul>
            <li><strong><%= "#{@contact.first_name} #{@contact.last_name}" %></strong></li>
            <li><%= @contact.address %></li>
            <li>
            <%= @contact.working_hour_start %>:00 |
            <%= @contact.working_hour_end %> :00
            </li>
          </ul>
      </div>
      <button class="contact" id="main-button">click to get in touch</button>


    <div class="social-media-banner justify-center">
      <a href=""><i class="fa-brands fa-square-twitter"></i></a>
      <a href=""><i class="fa-brands fa-square-facebook"></i></a>
      <a href=""><i class="fa-brands fa-square-instagram"></i></a>
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>

<%# <h5>User Connection</h5>
<% @availabilities.each do |connection|  %>
