

.personal {
  height: 250px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  background-color: rgba(255, 255, 255, .15);
}

.personalsign {
  height: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.687);
  backdrop-filter: blur(5px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

#main-button-log {
  margin-top: 15px;
}

.cardlog {
  z-index: 1;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 180px;
  // background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);

}

.bannerlog {
  z-index: 1;
  position: relative;
  margin-top: -100px;
  width: 100%;
  height: 100px;
  background-size:cover;
  border-bottom: solid 1px rgb(7, 4, 4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-inputs-log {
  padding: 35px;
  color:black;
  margin-left: 10px;
}

.banner2 {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  height: 100vh;
}

.description{
color: #F5F5F5;
text-align:left;
padding:15px;
font-size: 45px;
margin-top: 85px;
}

.bottom {
  margin-left: 35px;
}
