table,
th,
td {
  border: 1px solid rgb(229, 217, 217);
}

.available {
  background-color: #4fb58f;
}

.chat-container {
  max-width: 40rem;
  min-width: 30rem;
}

.members-table {
  width: 100%;
  max-height: 50vh;
  min-height: 300px;
  text-align: center;
}

// .hour {
//   width: 10px;
// }

// .members-table tr {
//   height: 10px;
// }

// <strong><%= current_user.timezone.upcase %></strong>
