table {
  background-color: #f2f0e9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-top: double;
  border-bottom: double;
}

.available {
  background-color: #4fb58f;
}

.chat-container {
  max-width: 40rem;
  min-width: 30rem;
}

.members-table {
  width: 100%;
  max-height: 50vh;
  min-height: 300px;
  text-align: center;
}
